# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Keeping out requirements file for now
requirements.txt