# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environment variables
.env

# Database
devsaver.db
app/uploads/

# VS Code folder
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Database 
.devdbrc