{% extends "base.html" %}

{% block content %}
<div class="form-container">

    {% if msg == "password_mismatch" %}
        <div class="alert alert-error">
            Passwords do not match. Please try again.
        </div>
    {% endif %}

    <h1>Change Password </h1>

    <form method="post" action="/profile/change-password">
        <div>
        <label for="password">Old Password</label><br>
        <input 
            type="password" 
            id="password" 
            name="old_password"
            placeholder="Old Password"
            required
        >
        {% if errors.new_password %}
            <p class="error">{{ errors.new_password }}</p>
        {% endif %}
        </div>

        <br>

        <div>
        <label for="password">New Password</label><br>
        <input 
            type="password" 
            id="password" 
            name="new_password"
            placeholder="New Password"
            required
        >
        {% if errors.new_password %}
            <p class="error">{{ errors.new_password }}</p>
        {% endif %}
        </div>

        <br>

        <div>
        <label for="password">Confirm Password</label><br>
        <input 
            type="password" 
            id="password" 
            name="confirm_password"
            placeholder="Confirm Password"
            required
        >
        {% if errors.confirm_password %}
            <p class="error">{{ errors.confirm_password }}</p>
        {% endif %}
        </div>

        <br>
        
        {% if errors.general %} <!-- General Errors -->
        <p class="error">{{ errors.general }}</p><br>
        {% endif %}

        <button type="submit">Reset Password</button>
    </form>
    <p>Go <a href="/">home.</a></p>
</div>

{% endblock %}