{% extends "base.html" %}
{% block content %}

  <div class="admin-container">

    <div class="resource-list">
      
      <div class="filter-container">
        {% for filter_type in ['All', 'Video', 'Audio', 'Image', 'File', 'Link'] %}
          <form method="get" action="/dashboard" class="resource-filter">
            <input type="hidden" name="filter" value="{{ filter_type }}">
            <button type="submit" class="{{ 'active' if type == filter_type else '' }}">
              {{ filter_type }}{{ 's' if filter_type != 'All' else '' }}
            </button>
          </form>
        {% endfor %}
        <form method="get" action="/dashboard" class="search-form">
          <input type="text" name="tags" placeholder="Search by tags" class="resource-search">
          <button type="submit" class="search-btn">Search</button>
        </form>

        <span class="count">Total Resources: {{ resources|length if resources else 0 }}</span><br>
      </div>

      {% if msg %}
        <p class="alert alert-success">{{ msg }}</p><br>
      {% endif %}

      {% if resources %}
        {% for resource in resources %}
          <div class="user-row">
            <span class="resource"><strong>{{ resource.title }}</strong></span>
            <span class="resource-download"><strong>{{ resource.type }}</strong></span>
            {% if resource.url and resource.original_filename %}
              <span class="resource">{{ resource.original_filename }}</span>
              <span class="resource-download"><a href="{{ resource.url }}" download="{{ resource.original_filename }}">Download</a></span>
            {% else %}
              <span class="resource">{{ resource.url }}</span>
              <span class="resource-download"><a href="{{ resource.url }}" target="_blank">Open Resource</a></span>
            {% endif %}

            <a href="/resources/edit-resource/{{ resource.id }}" ><button class="edit-btn">Edit</button></a>

            <a href="javascript:void(0);" onclick="openModal('{{ resource.id }}')" class="view-btn">View</a>

            <form action="{{ url_for('delete-resource', resource_id=resource.id) }}" method="post" class="delete-form">
                <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete this resource?');">Delete</button>
            </form>

          </div>

        {% endfor %}
      {% elif type %}
        {% if type == "All" %}
          <p>No resources found. Start by uploading a new resource!</p>
        {% else %}
          <p>No <strong>{{ type }}s</strong> found. Start by adding a new <strong>{{ type if type != 'Tag Search' else 'Resource' }}</strong>!</p>
        {% endif %}

      {% else %}
        <p>No resources found. Start by uploading a new resource!</p>
      {% endif %}

      <br><a href="/resources/upload" class="upload-link"><button class="upload-btn">Add New Resource</button></a>
    </div>
  </div>

  <!-- Resource Preview Modal -->
  <div id="resourceModal" class="modal" style="display:none;">
    <div class="modal-content">
      <span class="close-btn" id="closeModal">&times;</span>
      <div id="modal-body"></div>
      <a id="fullViewBtn" href="#" class="btn">Full View</a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', path='js/modal.js') }}"></script>
{% endblock %}