{% extends "base.html" %}

{% block content %}
  <h1>Login to DevSaver</h1>

  {% if msg %}
    <p class="alert">{{ msg }}</p>
  {% endif %}

  {% if errors.general %}
    <p class="error">{{ errors.general }}</p>
  {% endif %}


  <form method="post" action="/login">
    <div>
      <label for="username">Username</label><br>
      <input 
        type="text" 
        id="username" 
        name="username" 
        value="{{ data.username | default('') }}" 
        required
      >
      {% if errors.username %}
        <p class="error">{{ errors.username }}</p>
      {% endif %}
    </div>
    <br>

    <div>
      <label for="password">Password</label><br>
      <input 
        type="password" 
        id="password" 
        name="password" 
        required
      >
      {% if errors.password %}
        <p class="error">{{ errors.password }}</p>
      {% endif %}
    </div>
    <br>

    <button type="submit">Login</button><br>

    <a href="/forgot-password">Forgot Password?</a> 
  </form>
{% endblock %}
