<!-- Footer Section -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/users/">Users</a></li>
          <li><a href="/rss/">Resources</a></li>
        </ul>
      </div>
      <div class="footer-social footer-links">
        <h4>Connect</h4>
        <ul>
          <li><a href="https://github.com/Jmodhiambo" target="_blank">GitHub</a></li>
          <li><a href="https://x.com/jm_odhiambo" target="_blank">X</a></li>
          <li><a href="https://www.linkedin.com/in/martin-odhiambo-13b04817b/" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.tiktok.com/@jmodhiambo" target="_blank">TikTok</a></li>
          <li><a href="https://wa.link/0m2rim" target="_blank">WhatsApp</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-text">&copy; {{ now().year }} DevSaver. All rights reserved.</p>
  </div>
</footer>
